
<h1>GOT LUNCH THOUGHTZ?</h1>
<marquee><h3>REGISTER NOW!</h3></marquee>
<h3 class="custom-form-card">
<%= form_for @user, :html => {:class => "form-horizontal center"} do |f| %>
    <%= f.label :username, "Username:", class: "col-md-4 control-label" %>
    <%= f.text_field :username, class: "form-control" %>
    <%= f.label :password, "Password:", class: "col-md-4 control-label" %>
    <%= f.password_field :password, class: "form-control" %>
    <%= f.submit "Register", class: "btn btn-default btn-primary" %>  
<% end%>
</h3>
<h5><%=link_to "Or Login Here!", login_path, html_options = {:class => "blinking"}  %></h5>




<script>
function changeColor(){
document.querySelector(".custom-form-card").style.borderColor == "rgb(11, 255, 64)" ? document.querySelector(".custom-form-card").style.borderColor = "rgb(255, 105, 180)" : document.querySelector(".custom-form-card").style.borderColor = "rgb(11, 255, 64)"}

document.querySelector(".custom-form-card").style.borderColor = "rgb(11, 255, 64)"

setInterval(() => changeColor(), 300)
</script>