<strong><h1>The Food Near Access Labs</h1>

<h1>Quick Finder:</h1>
<%= form_for(:restaurant, url: find_restaurant_path) do |f| %>
    <%= f.collection_select(:restaurant_id, @restaurants, :id, :name)%>
    <%= f.submit "Find!" %>
<% end %>


<div class="deck-container">
    <div class="card-deck">
    <% @restaurants.each do |restaurant|%>
    <div class="card">
        <img class="card-img-top index-image" src=<%= restaurant.image_url %> alt=<%= restaurant.name %>>
        <%=link_to(restaurant) do %>
            <div class="card-img-overlay">   
            <h1 class="card-text"><%= restaurant.name  %></h1>   
            </div>
        <%end%>
    </div>
    <% end%>
    </div>
</div>
</div>
</strong>